- name: Check if docker-compose.yml exists
  stat:
    path: /database-mysql/docker-compose.yml
  register: compose_file

- name: Stop old containers if exists
  command: docker compose down
  args:
    chdir: /database-mysql
  when: compose_file.stat.exists

- name: Remove database-mysql directory
  file:
    path: /database-mysql
    state: absent

- name: Install MySql server
  apt:
    name: mysql-server
    state: present

- name: Create database-mysql Repository
  file:
    path: /database-mysql
    state: directory
    mode: '0755'

- name: Copy files directory
  copy:
    src:  db-ptit/
    dest: /database-mysql
    mode: '0755'

- name: Copy mysql-init directory
  copy:
    src: ../../mysql-init/ 
    dest: /database-mysql/mysql-init/
    mode: '0755'

- name: Run Docker compose up
  command: docker compose up -d 
  args:
    chdir: /database-mysql


